.logoImg{
    height: 75px;
}

#wecomeImg{
    width: 550px;
    padding-right: 20px;
}

#firstRow{
    margin-bottom: 50px;
}

.updates{
    width: 100%;
}

#secondRow{
    margin-bottom: 50px;
}

#thirdRow{
    display: grid;
    grid-template-rows: repeat(4,auto);
    margin-bottom: 50px;
    height: 370px;
}

.numbers{
    height: 250px;
    width: 100%;
    background-color: #C08A90;
    padding: 10px;
}

#cardi{
    position: relative;
    z-index: 1;
    bottom: 110%;
    margin-bottom: -10%;
    height: 260px;
    width: 300px;
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  } 

.cardNumber{
    font-size: 40px;
    font-weight: bold;
}

.numberDescription{
    font-size: 25px;
    font-weight: 500;
}

#fourthRow{
    margin-left:35px ;
    margin-right: 35px;
    margin-top: 50px;
}

.card{
    padding: 10px;
}