*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    display:flex;
    align-items:first baseline;
    justify-content:first baseline;
    /* height: 350vh; */
    max-width: 400vh;
    padding: 28px;
    margin: 0;
    /* box-shadow: 0 15px 20px #ABB2B9; */


}

h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #585d63;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
    
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n)
{
    justify-content: end;

}
.input-box label{
    width: 95%;
    color: black;
    font-weight: bold;
    margin: 5px 0;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #010101;
    outline: none;

}

.input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 2);
    

}
.alert {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alert check1{
    height: 5px;
    width: 5px;
    box-shadow: #B6666F;
}
.alert p{
    font-size: 14px;
    font-style: italic;
    color:black;
    margin-left: 5px;
    margin-top: 32px;
    

}
.alert a{
    text-decoration: none;
}


.alert a:hover{
    text-decoration: underline;
}
.button-container{
    margin: 15px 0;
    float: right;
}

.button-container button{
    float: right;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#B6666F,#6e343b);

}
.button-container button:hover{
    background-image: linear-gradient(to right,#6e343b,#B6666F);

}

/* outer container */
.i-content img{
    height: 400px;
    width:1100px;
    margin-bottom: 20px;

}

/* navigation */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.navbar {
    text-align: center;
    background-color: #B6666F;
    height: 30px;
  
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 520px;
    
}

.navbar ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.navbar ul li a:hover {
    background-color: #f4dada;
}